In [5]:
# Basic Imports
import datetime

# Local Files
from initialize import con

In [39]:
# Trading pairs
target_pairs = {
    'EUR/USD':30,
    'XAU/USD':10,
    'US30':20,
    'AUD/USD':30,
    'GBP/USD':30,
    'USD/CAD':30
}
# trading time
s_time = datetime.time(7)
e_time = datetime.time(17)
now = datetime.datetime.now().time()

In [7]:
# Activating the algorithm for the active time range
activation_condition = s_time<=now and now<=e_time

In [10]:
con.get_accounts().T

                          0
t                         6
ratePrecision             0
accountId            445388
balance             49980.2
usdMr                     0
mc                        N
mcDate
accountName        00445388
usdMr3                    0
hedging                   Y
usableMargin3       49980.2
usableMarginPerc        100
usableMargin3Perc       100
equity              49980.2
usableMargin        49980.2
bus                    1000
dayPL                     0
grossPL                   0

In [13]:
con.get_accounts_summary().T

                         0
t                        6
ratePrecision            0
accountId
balance            49980.2
usdMr                    0
mc
mcDate                None
accountName
usdMr3                   0
hedging
usableMargin3      49980.2
usableMarginPerc       100
usableMargin3Perc      100
equity             49980.2
usableMargin       49980.2
bus                   None
dayPL                    0
grossPL                  0
isTotal               True

In [25]:
# Account information
account = con.get_accounts()
balance = account.balance
dayPL = account.dayPL

In [38]:
equtity_per_ticker = balance/len(target_pairs)*(target_pairs['EUR/USD'])*0.5

0    8330.033333
Name: balance, dtype: float64

In [35]:
open_positions = con.get_open_positions()

In [41]:
balance/len(target_pairs)*(target_pairs['EUR/USD'])*0.5

0    124950.5
Name: balance, dtype: float64